flows.json
[{"id":"43c894a8.f0a82c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e23852b6.81635","type":"ui_form","z":"43c894a8.f0a82c","name":"","label":"","group":"227c91e4.d3ecae","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"cancel","topic":"","x":200,"y":200,"wires":[["eef0c8c8.bb5668","e650142a.287a08"]]},{"id":"eef0c8c8.bb5668","type":"debug","z":"43c894a8.f0a82c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"e650142a.287a08","type":"function","z":"43c894a8.f0a82c","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["435731b4.b3a3b"]]},{"id":"435731b4.b3a3b","type":"cloudant out","z":"43c894a8.f0a82c","name":"cloudent","cloudant":"","database":"sample","service":"node-red-swypy-2020--cloudant-1597584983579-14126","payonly":true,"operation":"insert","x":710,"y":240,"wires":[]},{"id":"e20e0f1.31a95f","type":"ui_form","z":"43c894a8.f0a82c","name":"","label":"","group":"947e64e0.8d0838","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["c418c8fd.1a9b48"]]},{"id":"c418c8fd.1a9b48","type":"function","z":"43c894a8.f0a82c","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":400,"wires":[["7220a635.2e11c8"]]},{"id":"7220a635.2e11c8","type":"function","z":"43c894a8.f0a82c","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":400,"wires":[["1bac3017.bad18"]]},{"id":"1bac3017.bad18","type":"cloudant in","z":"43c894a8.f0a82c","name":"","cloudant":"","database":"sample","service":"node-red-swypy-2020--cloudant-1597584983579-14126","search":"_idx_","design":"user","index":"user","x":600,"y":400,"wires":[["bd6705a2.f5a488"]]},{"id":"bd6705a2.f5a488","type":"function","z":"43c894a8.f0a82c","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":400,"wires":[["16ab57db.3235a8"]]},{"id":"3687a261.bffb2e","type":"ui_form","z":"43c894a8.f0a82c","name":"","label":"","group":"b0e7acb4.54cbe","order":0,"width":0,"height":0,"options":[{"label":"user input ","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":580,"wires":[["201749eb.8d31c6"]]},{"id":"201749eb.8d31c6","type":"function","z":"43c894a8.f0a82c","name":"","func":"msg.payload = msg.payload.input;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":580,"wires":[["6dfa27ea.790558"]]},{"id":"6dfa27ea.790558","type":"watson-conversation-v1","z":"43c894a8.f0a82c","name":"","workspaceid":"71feacac-ec4e-4a0b-ab3a-ed9b12754a6e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/adfc64b3-d7ef-4e76-948d-df8b65c8399c","timeout":"","optout-learning":false,"x":440,"y":580,"wires":[["d2029612.d2c028","97dd1ec8.86b3c"]]},{"id":"d2029612.d2c028","type":"debug","z":"43c894a8.f0a82c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"complete msg object","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"97dd1ec8.86b3c","type":"function","z":"43c894a8.f0a82c","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":600,"wires":[["50c87418.120cbc","a370ed40.fe5f2"]]},{"id":"50c87418.120cbc","type":"ui_text","z":"43c894a8.f0a82c","group":"b0e7acb4.54cbe","order":1,"width":"6","height":"6","name":"","label":"boat response","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":620,"wires":[]},{"id":"a370ed40.fe5f2","type":"ui_audio","z":"43c894a8.f0a82c","name":"","group":"b0e7acb4.54cbe","voice":"","always":"","x":910,"y":720,"wires":[]},{"id":"16ab57db.3235a8","type":"debug","z":"43c894a8.f0a82c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":320,"wires":[]},{"id":"227c91e4.d3ecae","type":"ui_group","z":"","name":"Reg Form ","tab":"f4cf1067.41265","order":1,"disp":true,"width":"6","collapse":false},{"id":"947e64e0.8d0838","type":"ui_group","z":"","name":"login form","tab":"1220026a.fc9cce","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0e7acb4.54cbe","type":"ui_group","z":"","name":"boat","tab":"4f99459f.fd245c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4cf1067.41265","type":"ui_tab","z":"","name":"Registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"1220026a.fc9cce","type":"ui_tab","z":"","name":"login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f99459f.fd245c","type":"ui_tab","z":"","name":"customer help","icon":"dashboard","disabled":false,"hidden":false}]